transmlogin:
  host: host
  usr: login
  pwd: password
emailset:
  addrfrom: addressfrom@gmail.com
  addrto: addressto@gmail.com
  smtpusr: "emailuser@gmail.com"
  smtppwd: "googleappspassword"
imdblogin:
  usr: login@gmail.com
  pwd: password
lfc:
  uid: uid=1111111; pass=11111111111111111111111111111111; usess=11111111111111111111111111111111;
nnmulrs:
  url1: http://nnmclub.to/forum/rss2.php?f=227&uk=xxxxxxxxxx
  url2: http://nnmclub.to/forum/rss2.php?f=954&uk=xxxxxxxxxx
  url3: http://nnmclub.to/forum/rss2.php?dl=1111111&a&uk=xxxxxxxxxx